[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
kedro = "*"
ipython = "*"
requests = "*"
aiohttp = "*"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
nbformat = "*"
nbclient = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.10"
